<%= link_to 'Add Todo List', new_todo_list_path %>

<div>
  <% @todo_lists.each do |todo_list| %>
    <div class="todo_list_container">
      #<%= todo_list.id %> | <%= todo_list.name %>
    </div>
  <% end %>
</div>
